<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ConfigFolder" value=""/>
    <add key="CricInfoLive" value="http://static.cricinfo.com/rss/livescores.xml"/>
    <add key="CricBuzzLive" value="http://synd.cricbuzz.com/j2me/1.0/livematches.xml"/>
    <add key="ECBLive" value="http://www.ecb.co.uk/live-scores.xml"/>
  </appSettings>
</configuration>